/* COLOURTHEME */
:root{
    --one: #fff;
    --two: #000;
}

/* PREREQUISITES */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--two);
}

/* HOME */
#home{
    background-image: url(images/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

#home h1{
    font-size: 100px;
    font-family: 'Poiret One', cursive;
    color: var(--one);
    text-align: center;
    text-shadow: 2px 2px 3px var(--two);
}

/* NAVBAR */
#fp-nav ul li a span {
    background-color: #fff !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

#fp-nav ul li a.active span {
    background-color: #fff !important;
}

#fp-nav ul li .fp-tooltip {
    color: #fff !important;
}